@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root{
  --display: flex;
  --justify: center;
  --align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  background: #F5F5F5;
}
button:hover{
  background: linear-gradient(180deg, #ffffff 0%, #fffff9 100%)
  !important;
  cursor: pointer;
}
nav a:hover{
  text-decoration: underline;
  text-decoration-color: #F7F7F7;
  text-decoration-thickness: 4px;
  color: #ffd6d6;
}
span{
  color: #FFBB00;
}
/* header part Start */

header{
  background: #000000;
  padding: 0 100px;
}
nav{
  height: 80px;
  display: var(--display);
  justify-content: space-between;
  align-items: var(--align);
}
ul{
  list-style: none;
  display: var(--display);
}
ul li a{
  text-decoration: none;
  padding: 32px 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}
.menu-bar{
  display: none;
}
/* navbar end */

/* title part start */
  .title{
    padding: 60px 100px;
    background: #121212;
  }
  .title h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #B3B3B3;
  }
  .title h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
  }
/* title part end */

/* bikes part start */
  .our-bikes{
    padding: 50px 100px;
  }
  
  .price{
    width: 104px;
    height: 40px;
    background: #000000;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    top: 20px;
    right: 0;
  }
  .price h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 16px;
  }
  .bike-img{
    position: relative;
  }
  .line{
    width: 12px;
    height: 8px;
    background: #FFBB00;
    padding-bottom: 8px;
  }
  .description h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #121212;
    padding-bottom: 20px;
  }
  .description p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #595959;
    padding-bottom: 32px;
  }
  .description h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #595959;
    padding-left: 10px;
  }
  .features{
    display: var(--display);
    padding-bottom: 16px;
  }
  .features-list{
    display: var(--display);
    justify-content: space-between;
    align-items: center;
  }
  .bikes-list{
    display: var(--display);
    gap: 40px;
    padding: 50px 0;
  }
  .read-more-btn button{
    width: 200px;
    height: 56px;
    background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
    border-radius: 5px;
    border: none;
  }
  .read-more-btn{
    padding-right: 35px;
  }
  .read-more-btn a{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #332200;
  }
  .features-list img{
    width: 22px;
    height: 22px;
  }
  /* ------------------- */
  .bikes-list2{
    position: relative;
    margin: 120px 0;
    padding: 35px 0;
    display: flex;
  }
  .description1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    background: #121212;
  } 
  .desc-items{
    padding-top: 40px;
    padding-left: 430px;
  }
  .bikes-list2 .bike-img{
    z-index: 1;
  }
  .description1 .line{
    width: 12px;
    height: 8px;
    background: #FFBB00;
    padding-bottom: 8px;
  }
  .description1 h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding-bottom: 20px;
  }
  .description1 p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #B3B3B3;
    padding-bottom: 32px;
  }
  .description1 h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B3B3B3;
    padding-left: 10px;
  }
  .rightarrow{
    padding-top: 10px;
  }
  /* bikes part end */
/* footer section css start */
footer{
  background-color: #000000;
  padding: 105px 100px;
}
.line1,.line2{
  width: 290px;
  height: 2px;
  background: #121212;
}
.footer-items{
  display: flex;
  /* justify-content: center; */
  gap: 200px;
}
.contact h2{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.contact p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #B3B3B3;
  padding: 10px;
}
.social-media{
  padding-top: 15px;
}
.social-media img{
  padding-left: 16px;
}
.information-list{
  padding-top: 32px;
}
.address{
  padding-top: 32px;
}
.information-list p a{
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.015em;
  color: #B3B3B3;
  text-decoration: none;
}
footer h5{
  padding-top: 50px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
  color: #9C9C9C;
}
/* footer section css End */
















/* media query start */

/* 1024px */
@media screen and (max-width: 1024px) {
  header{
    justify-content: var(--justify);
    padding: 0 10px;
  }
}


/* 768px */
@media screen and (max-width: 768px) {
 .menu-bar{
  display: block;
 } 
 nav ul{
  display: none;
 }
 .our-bikes{
  padding: 15px;
 }
 .bike-img img{
  width: 100%;
 }
 .bikes-list{
  padding: 0;
 }
}

/* 440px */

@media screen and (max-width:440px) {
  .title{
    padding: 25px;
  }
}



/* 1120px */
@media screen and (max-width: 1120px) {
  .bikes-list,.bikes-list2{
    flex-direction: column;
  }
  .bikes-list2{
    margin: 0;
    position: static;
  }
  .description1{
    position: static;
    width: 100%;
  }
  .desc-items{
    padding: 25px;
  }
  .features-list{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-items{
    gap: 100px;
  }
  footer{
    padding: 0;
  }
}


/* 992px */

@media screen and (max-width: 992px) {
  footer{
    padding: 10px;
  }
  .footer-items{
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
  }
  .footer-items h2{
    text-align: center;
  }
  .address{
    padding: 15px;
    text-align: center;
  }
  .information-list{
    padding: 15px;
    text-align: center;
  }
  .social-media{
    display: flex;
    justify-content: center;
  }
  footer h5{
    text-align: center;
    padding: 0;
  }
}