@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root{
  --display: flex;
  --justify: center;
  --align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  background: #F5F5F5;
}
button:hover{
  background: linear-gradient(180deg, #ffffff 0%, #fffff9 100%)
  !important;
  cursor: pointer;
}
nav a:hover{
  text-decoration: underline;
  text-decoration-color: #F7F7F7;
  text-decoration-thickness: 4px;
  color: #ffd6d6;
}
span{
  color: #FFBB00;
}
/* header part Start */

header{
  background: #000000;
  padding: 0 100px;
}
nav{
  height: 80px;
  display: var(--display);
  justify-content: space-between;
  align-items: var(--align);
}
ul{
  list-style: none;
  display: var(--display);
}
ul li a{
  text-decoration: none;
  padding: 32px 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}
.menu-bar{
  display: none;
}
/* navbar end */

/* select bike or insurance css start */
    .select-bike-insurance{
        padding: 70px 100px;
        background: #121212;
        position: relative;
        margin-bottom: 400px;
    }
    .title{
        background: #121212;
        height: 280px;
    }
    .title h2{
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        color: #B3B3B3;
        padding-top: 40px;
      }
      .title h1{
        font-weight: 600;
        font-size: 54px;
        line-height: 72px;
        color: #FFFFFF;
      }
      .selection{
        height: 540px;
        position: absolute;
        top: 250px;
        display: flex;
      }
      .select-bike{
        width: 425px;
        height: 540px;
        background: #000000;
        border-radius: 5px 0px 0px 5px;
        padding-left: 35px;
        padding-top: 50px;
      }
      .select-form{
        width: 650px;
        height: 540px;
        background: #ffffff;
        padding-left: 35px;
        padding-top: 50px;
      }

      /* black part */
      .bike-or-insurance{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
      }
      .bike-or-insurance h4{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        color: #B3B3B3;
        padding-left: 8px;
      }
      .vl{
        width: 4px;
        height: 8px;
        background: #FFBB00;
      }

      /* radio - buttons */
      .select-btns{
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
      }
      .bikecraft,.insurance{
        width: 160px;
        height: 48px;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 12px 16px;
      }
      .bikecraft label,.insurance label,.nimbus label{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #121212;
        padding-left: 12px;  
      }
      .bikecraft:hover ,.insurance:hover{
        background: #857f7f;
        color: white;
      }
      .nimbus{
        width: 340px;
        height: 48px;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 12px 16px;
      }
      /* cards */
      .card{
        margin-top: 20px;
        width: 340px;
        height: 156px;
        background: #FFFFFF;
        border-radius: 5px
      }
      .select-cycle{
        display: flex;
        justify-content: space-between;
        padding: 15px 15px;
      }
      .select-cycle p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #121212;
      }
      .cycle-btns label{ 
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #121212;
      }
      .features img{
        width: 16px;
        height: 16px;
      }
      .list-img{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
      }
      .features{
        display: flex;
        padding-bottom: 8px;
      }
      .features p{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #595959;
        padding-left: 8px;
      }
      /* select-form */

      .personal{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
      }
      .personal h4{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        color: #404040;
        padding-left: 8px;
      }

/* select bike or insurance css End */

























/* media query start */

/* 1024px */
@media screen and (max-width: 1024px) {
    header{
      justify-content: var(--justify);
      padding: 0 10px;
    }
  }
  
  
  /* 768px */
  @media screen and (max-width: 768px) {
   .menu-bar{
    display: block;
   } 
   nav ul{
    display: none;
   }
}