@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root{
  --display: flex;
  --justify: center;
  --align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  background: #F5F5F5;
}
button:hover{
  background: linear-gradient(180deg, #ffffff 0%, #fffff9 100%)
  !important;
  cursor: pointer;
}
nav a:hover{
  text-decoration: underline;
  text-decoration-color: #F7F7F7;
  text-decoration-thickness: 4px;
  color: #ffd6d6;
}
span{
  color: #FFBB00;
}
/* header part Start */

header{
  background: #000000;
  padding: 0 100px;
}
nav{
  height: 80px;
  display: var(--display);
  justify-content: space-between;
  align-items: var(--align);
}
ul{
  list-style: none;
  display: var(--display);
}
ul li a{
  text-decoration: none;
  padding: 32px 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}
.menu-bar{
  display: none;
}
/* navbar end */

/* Choose Your insurance section Start */
  .insurance{
    padding: 30px 0;
    background: #121212;
  }
  .insurance h5{
    font-weight: 500;
    padding-left: 100px;
    font-size: 20px;
    line-height: 22px;  
    color: #B3B3B3;
  }
  .insurance h1{
    padding-left: 100px;
    font-weight: 600;
    font-size: 58px;
    line-height: 62px;
    color: #FFFFFF;
    padding-bottom: 25px;
  }
  /*  */
  .plan:hover
  {
    cursor: pointer;
    width: 500px;
    height: 575px;  
  }
  .plan:hover h3{
    color: #FFBB00;
    cursor: pointer;
  }
  .plan:hover button{
    background-color: #FFBB00;
    color: #121212;
  }
  .talk-btn{
    padding-top: 87px;
  }
  .plan{
    width: 450px;
    height: 500px;
    background: #000000;
    border-radius: 5px;
    padding: 15px 0;
    transition: 0.6s;
  }
  .name-price{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .name-price h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #9C9C9C;
  }
  .name-price h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
  }
  .name-price p{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #9C9C9C;
    text-align: end;
  }
  .features{
    display: flex;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  .features p{
    padding-left: 8px;
  }
  .insurance button{
    padding: 16px 32px;
    background: #121212;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #CCCCCC;
  }
  .sign-up-btn{
    padding-left: 30px;
  }
  .plans{
    display: flex;
    justify-content: center;
    gap: 25px;
  }
.plan:hover
{
  cursor: pointer;
}
  .plan:hover h3{
    color: #FFBB00;
    cursor: pointer;
  }
  .plan:hover button{
    background-color: #FFBB00;
    color: #121212;
  }
/* plans css End */


/* Choose Your insurance section End */

/* Our-advantages css start */
  .advantages{
    background: #000000;
    padding: 80px 100px;
  }
  .advantages h1{
    font-weight: 600;
    font-size: 54px;
    line-height: 72px;
    color: #FFFFFF;
    padding-bottom: 40px;
  }
  .advantage-lists{
    display: flex;
    gap: 40px;
    padding-bottom: 36px;
  }
  .advantage h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 8px 0;
  }
  .advantage img{
    width: 32.06px;
    height: 32.06px;
  }
  .advantage p{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #9C9C9C;
  }
/* Our-advantages css End */

/* common questions css start */
  .questions{
    background: #F5F5F5;
    color: #000000;
    padding: 50px 100px;
  }
  .questions h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #121212;
    padding-bottom: 50px;
  }
  .que-ans1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
  .line{
    width: 12px;
    height: 8px;
    background: #FFBB00;
  }
  .que-answer{
    display: flex;
    align-items: center;
  }
  .que-ans{
    display: flex;
    align-items: center;
    padding-bottom: 34px;
  }
  .que-ans h4,.que-answer h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #121212;
    padding-left: 8px;
  }
/* common questions css end */


/* footer section css start */
footer{
  background-color: #000000;
  padding: 105px 100px;
}
.line1,.line2{
  width: 290px;
  height: 2px;
  background: #121212;
}
.footer-items{
  display: flex;
  gap: 200px;
}
.contact h2{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.contact p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #B3B3B3;
  padding: 10px;
}
.social-media{
  padding-top: 15px;
}
.social-media img{
  padding-left: 16px;
}
.information-list{
  padding-top: 32px;
}
.address{
  padding-top: 32px;
}
.information-list p a{
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.015em;
  color: #B3B3B3;
  text-decoration: none;
}
footer h5{
  padding-top: 50px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
  color: #9C9C9C;
}
/* footer section css End */
























/* media query start */

/* 1024px */
@media screen and (max-width: 1024px) {
  header{
    justify-content: var(--justify);
    padding: 0 10px;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
 .menu-bar{
  display: block;
 } 

 nav ul{
  display: none;
 }
 .insurance h5{
  padding: 0;
  text-align: center;
 }
 .insurance h1{
  text-align: center;
  padding: 25px;
 }
 .plans{
  flex-direction: column;
  align-items: center;
 }
}

@media screen and (max-width: 440px) {
 .plan{
  width: 100%;
 }
 .que-answer{
  align-items: baseline;
 }
 .questions h1{
  font-size: 36px;
  padding: 0;
  line-height: normal;
  text-align: center;
 }
}

/* 992px */

@media screen and (max-width: 992px) {
  footer{
    padding: 10px;
  }
  .footer-items{
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
  }
  .footer-items h2{
    text-align: center;
  }
  .address{
    padding: 15px;
    text-align: center;
  }
  .information-list{
    padding: 15px;
    text-align: center;
  }
  .social-media{
    display: flex;
    justify-content: center;
  }
  footer h5{
    text-align: center;
    padding: 0;
  }
  .advantages{
    padding: 25px;
  }
  .advantages h1{
    font-size: 32px;
  }
  .advantage-lists{
    flex-direction: column;
  }
  .questions{
    padding: 15px;
  }
}

@media screen and (max-width:1120px) {
  .footer{
    padding: 0;
  }
  .footer-items{
    gap: 100px;
  }
}